1632036002 JongSeop Park, Koreatech

kugipark@gmail.com

* * *

# [10 Minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)

This is a short introduction to pandas, geared mainly for new users. You can see more complex recipes in the *[Cookbook](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)*

Customarily, we import as follows:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Object Creation

See the *[Data Structure Intro section](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro)*

Creating a **Series** by passing a list of values, letting pandas create a default integer index:

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a **[DataFrame](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html#pandas.DataFrame)** by passing a numpy array, with a datetime index and labeled columns:

In [3]:
dates = pd.date_range('20160911', periods=6)
dates

DatetimeIndex(['2016-09-11', '2016-09-12', '2016-09-13', '2016-09-14',
               '2016-09-15', '2016-09-16'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2016-09-11 -1.637934 -0.958112  0.863694  0.853583
2016-09-12  0.612740 -1.138497  0.238470  0.562982
2016-09-13 -0.364335  0.613203  0.138034 -0.241127
2016-09-14  0.883675  1.808246 -0.635125 -1.790823
2016-09-15 -0.286747 -0.330165 -0.202244  0.108324
2016-09-16  0.657548  0.454806 -1.586551 -0.840291

Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [5]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20160912'),
                     'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(["test", "train", "test", "train"]),
                     'F' : 'foo'
                   })
df2

     A          B    C  D      E    F
0  1.0 2016-09-12  1.0  3   test  foo
1  1.0 2016-09-12  1.0  3  train  foo
2  1.0 2016-09-12  1.0  3   test  foo
3  1.0 2016-09-12  1.0  3  train  foo

Having specific *[dtypes](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-dtypes)*

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

If you’re using IPython, tab completion for column names (as well as public attributes) is automatically enabled. Here’s a subset of the attributes that will be completed:

**In []:** df2.(TAB)  
df2.A  
df2.boxplot  
df2.abs  
df2.C  
df2.add  
df2.clip  
df2.add_prefix  
df2.clip_lower  
df2.add_suffix  
df2.clip_upper  
df2.align  
df2.columns  
df2.all  
df2.combine  
df2.any  
df2.combineAdd  
df2.append  
df2.combine_first  
df2.apply  
df2.combineMult  
df2.applymap  
df2.compound  
df2.as_blocks  
df2.consolidate  
df2.asfreq  
df2.convert_objects  
df2.as_matrix  
df2.copy  
df2.astype  
df2.corr  
df2.at  
df2.corrwith  
df2.at_time  
df2.count  
df2.axes  
df2.cov  
df2.B  
df2.cummax  
df2.between_time  
df2.cummin  
df2.bfill  
df2.cumprod  
df2.blocks  
df2.cumsum  
df2.bool  
df2.D

As you can see, the columns A, B, C, and D are automatically tab completed. E is there as well; the rest of the attributes have been truncated for brevity.

## Viewing Data

See the *[Basics section](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics)*

See the top & bottom rows of the frame

In [7]:
df.head()

                   A         B         C         D
2016-09-11 -1.637934 -0.958112  0.863694  0.853583
2016-09-12  0.612740 -1.138497  0.238470  0.562982
2016-09-13 -0.364335  0.613203  0.138034 -0.241127
2016-09-14  0.883675  1.808246 -0.635125 -1.790823
2016-09-15 -0.286747 -0.330165 -0.202244  0.108324

In [8]:
df.tail(3)

                   A         B         C         D
2016-09-14  0.883675  1.808246 -0.635125 -1.790823
2016-09-15 -0.286747 -0.330165 -0.202244  0.108324
2016-09-16  0.657548  0.454806 -1.586551 -0.840291

Display the index, columns, and the underlying numpy data

In [9]:
df.index

DatetimeIndex(['2016-09-11', '2016-09-12', '2016-09-13', '2016-09-14',
               '2016-09-15', '2016-09-16'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [11]:
df.values

array([[-1.63793405, -0.95811227,  0.86369384,  0.85358317],
       [ 0.61274048, -1.13849749,  0.23846998,  0.562982  ],
       [-0.36433534,  0.61320339,  0.13803384, -0.24112687],
       [ 0.88367489,  1.80824648, -0.6351249 , -1.79082281],
       [-0.28674719, -0.33016488, -0.20224406,  0.10832378],
       [ 0.65754781,  0.45480593, -1.58655106, -0.84029103]])

Describe shows a quick statistic summary of your data

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.022509  0.074914 -0.197287 -0.224559
std    0.946938  1.108342  0.842590  0.972214
min   -1.637934 -1.138497 -1.586551 -1.790823
25%   -0.344938 -0.801125 -0.526905 -0.690500
50%    0.162997  0.062321 -0.032105 -0.066402
75%    0.646346  0.573604  0.213361  0.449317
max    0.883675  1.808246  0.863694  0.853583

Transposing your data

In [13]:
df.T

   2016-09-11  2016-09-12  2016-09-13  2016-09-14  2016-09-15  2016-09-16
A   -1.637934    0.612740   -0.364335    0.883675   -0.286747    0.657548
B   -0.958112   -1.138497    0.613203    1.808246   -0.330165    0.454806
C    0.863694    0.238470    0.138034   -0.635125   -0.202244   -1.586551
D    0.853583    0.562982   -0.241127   -1.790823    0.108324   -0.840291

Sorting by an axis

In [14]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2016-09-11  0.853583  0.863694 -0.958112 -1.637934
2016-09-12  0.562982  0.238470 -1.138497  0.612740
2016-09-13 -0.241127  0.138034  0.613203 -0.364335
2016-09-14 -1.790823 -0.635125  1.808246  0.883675
2016-09-15  0.108324 -0.202244 -0.330165 -0.286747
2016-09-16 -0.840291 -1.586551  0.454806  0.657548

Sorting by values

In [15]:
df.sort_values(by='B')

                   A         B         C         D
2016-09-12  0.612740 -1.138497  0.238470  0.562982
2016-09-11 -1.637934 -0.958112  0.863694  0.853583
2016-09-15 -0.286747 -0.330165 -0.202244  0.108324
2016-09-16  0.657548  0.454806 -1.586551 -0.840291
2016-09-13 -0.364335  0.613203  0.138034 -0.241127
2016-09-14  0.883675  1.808246 -0.635125 -1.790823

## Selection

> **Note:**  While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc, .iloc and .ix.

See the indexing documentation *[Indexing and Selecting](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing)* and *[MultiIndex / Advanced Indexing](http://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced)*

### Getting

Selecting a single column, which yields a Series, equivalent to df.A

In [16]:
df['A']

2016-09-11   -1.637934
2016-09-12    0.612740
2016-09-13   -0.364335
2016-09-14    0.883675
2016-09-15   -0.286747
2016-09-16    0.657548
Freq: D, Name: A, dtype: float64

Selecting via [], which slices the rows.

In [17]:
df[0:3]

                   A         B         C         D
2016-09-11 -1.637934 -0.958112  0.863694  0.853583
2016-09-12  0.612740 -1.138497  0.238470  0.562982
2016-09-13 -0.364335  0.613203  0.138034 -0.241127

In [18]:
df['20160912' : '20160914']

                   A         B         C         D
2016-09-12  0.612740 -1.138497  0.238470  0.562982
2016-09-13 -0.364335  0.613203  0.138034 -0.241127
2016-09-14  0.883675  1.808246 -0.635125 -1.790823

### Selection by Label

See more in *[Selection by Label](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-label)*

For getting a cross section using a label

In [19]:
df.loc[dates[0]]

A   -1.637934
B   -0.958112
C    0.863694
D    0.853583
Name: 2016-09-11 00:00:00, dtype: float64

Selecting on a multi-axis by label

In [20]:
df.loc[:, ['A', 'B']]

                   A         B
2016-09-11 -1.637934 -0.958112
2016-09-12  0.612740 -1.138497
2016-09-13 -0.364335  0.613203
2016-09-14  0.883675  1.808246
2016-09-15 -0.286747 -0.330165
2016-09-16  0.657548  0.454806

Showing label slicing, both endpoints are *included*

In [21]:
df.loc['20160912' : '20160914', ['A', 'B']]

                   A         B
2016-09-12  0.612740 -1.138497
2016-09-13 -0.364335  0.613203
2016-09-14  0.883675  1.808246

Reduction in the dimensions of the returned object

In [22]:
df.loc['20160912', ['A', 'B']]

A    0.612740
B   -1.138497
Name: 2016-09-12 00:00:00, dtype: float64

For getting a scalar value

In [23]:
df.loc[dates[0], 'A']

-1.6379340488591911

For getting fast access to a scalar (equiv to the prior method)

In [24]:
df.at[dates[0], 'A']

-1.6379340488591911

### Selection by Position

See more in *[Selection by Position](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-integer)*

Select via the position of the passed integers

In [25]:
df.iloc[3]

A    0.883675
B    1.808246
C   -0.635125
D   -1.790823
Name: 2016-09-14 00:00:00, dtype: float64

By integer slices, acting similar to numpy/python

In [26]:
df.iloc[3:5, 0:2]

                   A         B
2016-09-14  0.883675  1.808246
2016-09-15 -0.286747 -0.330165

By lists of integer position locations, similar to the numpy/python style

In [27]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2016-09-12  0.612740  0.238470
2016-09-13 -0.364335  0.138034
2016-09-15 -0.286747 -0.202244

For slicing rows explicitly

In [28]:
df.iloc[1:3, :]

                   A         B         C         D
2016-09-12  0.612740 -1.138497  0.238470  0.562982
2016-09-13 -0.364335  0.613203  0.138034 -0.241127

For slicing columns explicitly

In [29]:
df.iloc[:, 1:3]

                   B         C
2016-09-11 -0.958112  0.863694
2016-09-12 -1.138497  0.238470
2016-09-13  0.613203  0.138034
2016-09-14  1.808246 -0.635125
2016-09-15 -0.330165 -0.202244
2016-09-16  0.454806 -1.586551

For getting a value explicitly

In [30]:
df.iloc[1, 1]

-1.1384974867395703

For getting fast access to a scalar (equiv to the prior method)

In [31]:
df.iat[1, 1]

-1.1384974867395703

### Boolean Indexing

Using a single column’s values to select data.

In [32]:
df[df.A > 0]

                   A         B         C         D
2016-09-12  0.612740 -1.138497  0.238470  0.562982
2016-09-14  0.883675  1.808246 -0.635125 -1.790823
2016-09-16  0.657548  0.454806 -1.586551 -0.840291

A where operation for getting.

In [33]:
df[df > 0]

                   A         B         C         D
2016-09-11       NaN       NaN  0.863694  0.853583
2016-09-12  0.612740       NaN  0.238470  0.562982
2016-09-13       NaN  0.613203  0.138034       NaN
2016-09-14  0.883675  1.808246       NaN       NaN
2016-09-15       NaN       NaN       NaN  0.108324
2016-09-16  0.657548  0.454806       NaN       NaN

Using the **[isin()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isin.html#pandas.Series.isin)** method for filtering:

In [34]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2016-09-11 -1.637934 -0.958112  0.863694  0.853583    one
2016-09-12  0.612740 -1.138497  0.238470  0.562982    one
2016-09-13 -0.364335  0.613203  0.138034 -0.241127    two
2016-09-14  0.883675  1.808246 -0.635125 -1.790823  three
2016-09-15 -0.286747 -0.330165 -0.202244  0.108324   four
2016-09-16  0.657548  0.454806 -1.586551 -0.840291  three

In [35]:
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2016-09-13 -0.364335  0.613203  0.138034 -0.241127   two
2016-09-15 -0.286747 -0.330165 -0.202244  0.108324  four

### Setting

Setting a new column automatically aligns the data by the indexes

In [36]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20160912', periods=6))
s1

2016-09-12    1
2016-09-13    2
2016-09-14    3
2016-09-15    4
2016-09-16    5
2016-09-17    6
Freq: D, dtype: int64

In [37]:
df['F'] = s1

Setting values by label

In [38]:
df.at[dates[0], 'A'] = 0

Setting values by position

In [39]:
df.iat[0, 1] = 0

Setting by assigning with a numpy array

In [40]:
df.loc[:, 'D'] = np.array([5] * len(df))

The result of the prior setting operations

In [41]:
df

                   A         B         C  D    F
2016-09-11  0.000000  0.000000  0.863694  5  NaN
2016-09-12  0.612740 -1.138497  0.238470  5  1.0
2016-09-13 -0.364335  0.613203  0.138034  5  2.0
2016-09-14  0.883675  1.808246 -0.635125  5  3.0
2016-09-15 -0.286747 -0.330165 -0.202244  5  4.0
2016-09-16  0.657548  0.454806 -1.586551  5  5.0

A where operation with setting.

In [42]:
df2 = df.copy()
df2[df2 > 0 ] = -df2
df2

                   A         B         C  D    F
2016-09-11  0.000000  0.000000 -0.863694 -5  NaN
2016-09-12 -0.612740 -1.138497 -0.238470 -5 -1.0
2016-09-13 -0.364335 -0.613203 -0.138034 -5 -2.0
2016-09-14 -0.883675 -1.808246 -0.635125 -5 -3.0
2016-09-15 -0.286747 -0.330165 -0.202244 -5 -4.0
2016-09-16 -0.657548 -0.454806 -1.586551 -5 -5.0

## Missing Data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations. See the *[Missing Data section](http://pandas.pydata.org/pandas-docs/stable/missing_data.html#missing-data)*

Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.

In [43]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

                   A         B         C  D    F    E
2016-09-11  0.000000  0.000000  0.863694  5  NaN  1.0
2016-09-12  0.612740 -1.138497  0.238470  5  1.0  1.0
2016-09-13 -0.364335  0.613203  0.138034  5  2.0  NaN
2016-09-14  0.883675  1.808246 -0.635125  5  3.0  NaN

To drop any rows that have missing data.

In [44]:
df1.dropna(how='any')

                  A         B        C  D    F    E
2016-09-12  0.61274 -1.138497  0.23847  5  1.0  1.0

Filling missing data

In [45]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2016-09-11  0.000000  0.000000  0.863694  5  5.0  1.0
2016-09-12  0.612740 -1.138497  0.238470  5  1.0  1.0
2016-09-13 -0.364335  0.613203  0.138034  5  2.0  5.0
2016-09-14  0.883675  1.808246 -0.635125  5  3.0  5.0

To get the boolean mask where values are nan

In [46]:
pd.isnull(df1)

                A      B      C      D      F      E
2016-09-11  False  False  False  False   True  False
2016-09-12  False  False  False  False  False  False
2016-09-13  False  False  False  False  False   True
2016-09-14  False  False  False  False  False   True

## Operations

See the *[Basic section on Binary Ops](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-binop)*

### Stats

Operations in general exclude missing data.

Performing a descriptive statistic

In [47]:
df.mean()

A    0.250480
B    0.234599
C   -0.197287
D    5.000000
F    3.000000
dtype: float64

Same operation on the other axis

In [48]:
df.mean(1)

2016-09-11    1.465923
2016-09-12    1.142543
2016-09-13    1.477380
2016-09-14    2.011359
2016-09-15    1.636169
2016-09-16    1.905161
Freq: D, dtype: float64

Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension.

In [49]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2016-09-11    NaN
2016-09-12    NaN
2016-09-13    1.0
2016-09-14    3.0
2016-09-15    5.0
2016-09-16    NaN
Freq: D, dtype: float64

In [50]:
df.sub(s, axis='index')

                   A         B         C    D    F
2016-09-11       NaN       NaN       NaN  NaN  NaN
2016-09-12       NaN       NaN       NaN  NaN  NaN
2016-09-13 -1.364335 -0.386797 -0.861966  4.0  1.0
2016-09-14 -2.116325 -1.191754 -3.635125  2.0  0.0
2016-09-15 -5.286747 -5.330165 -5.202244  0.0 -1.0
2016-09-16       NaN       NaN       NaN  NaN  NaN

### Apply

Applying functions to the data

In [51]:
df.apply(np.cumsum)

                   A         B         C   D     F
2016-09-11  0.000000  0.000000  0.863694   5   NaN
2016-09-12  0.612740 -1.138497  1.102164  10   1.0
2016-09-13  0.248405 -0.525294  1.240198  15   3.0
2016-09-14  1.132080  1.282952  0.605073  20   6.0
2016-09-15  0.845333  0.952787  0.402829  25  10.0
2016-09-16  1.502881  1.407593 -1.183722  30  15.0

In [52]:
df.apply(lambda x : x.max() - x.min())

A    1.248010
B    2.946744
C    2.450245
D    0.000000
F    4.000000
dtype: float64

### Histogramming

In [53]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    0
1    0
2    2
3    3
4    4
5    3
6    0
7    2
8    0
9    6
dtype: int32

In [54]:
s.value_counts()

0    4
3    2
2    2
6    1
4    1
dtype: int64

### String Methods

Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses *[regular expressions](https://docs.python.org/2/library/re.html)* by default (and in some cases always uses them). See more at *[Vectorized String Methods](http://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods)*.

In [55]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

## Merge

### Concat

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

See the *[Merging section](http://pandas.pydata.org/pandas-docs/stable/merging.html#merging)*

Concatenating pandas objects together with **[concat()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html#pandas.concat):**

In [56]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.037278 -0.598216  1.278513 -0.518883
1  0.928597  1.335437  0.661293  0.937047
2  1.735786  0.766098 -1.449271 -0.217771
3 -1.581625 -0.028861 -0.458227  1.628898
4 -2.157178 -0.066441 -0.109985 -0.374873
5 -0.320044  0.438991 -0.147676  0.467608
6 -0.385834  0.462218 -0.907318  0.685728
7 -2.124318 -0.920362  0.979259 -0.985745
8 -0.720860 -0.999267  1.299310 -0.591801
9  0.708824 -1.374100  1.586122  1.158358

In [57]:
# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0 -0.037278 -0.598216  1.278513 -0.518883
1  0.928597  1.335437  0.661293  0.937047
2  1.735786  0.766098 -1.449271 -0.217771
3 -1.581625 -0.028861 -0.458227  1.628898
4 -2.157178 -0.066441 -0.109985 -0.374873
5 -0.320044  0.438991 -0.147676  0.467608
6 -0.385834  0.462218 -0.907318  0.685728
7 -2.124318 -0.920362  0.979259 -0.985745
8 -0.720860 -0.999267  1.299310 -0.591801
9  0.708824 -1.374100  1.586122  1.158358

### Join

SQL style merges. See the *[Database style joining](http://pandas.pydata.org/pandas-docs/stable/merging.html#merging-join)*

In [58]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [59]:
left

   key  lval
0  foo     1
1  foo     2

In [60]:
right

   key  rval
0  foo     4
1  foo     5

In [61]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

### Append

Append rows to a dataframe. See the *[Appending](http://pandas.pydata.org/pandas-docs/stable/merging.html#merging-concatenation)*

In [62]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

          A         B         C         D
0  0.023383 -0.810713  0.806585  0.293877
1 -1.672713 -0.801594  0.315394  0.662639
2 -0.019128 -1.204965  0.613909  0.666045
3 -1.332158  0.609907 -1.685302  0.832213
4  0.289127 -0.048933 -0.583954  0.653989
5 -0.730536 -0.738538  0.915074  0.450609
6 -0.132442  0.364581  0.728304 -0.148335
7 -0.465923 -0.489872  0.383389 -0.132652

In [63]:
s = df.iloc[3]
df.append(s, ignore_index=True)

          A         B         C         D
0  0.023383 -0.810713  0.806585  0.293877
1 -1.672713 -0.801594  0.315394  0.662639
2 -0.019128 -1.204965  0.613909  0.666045
3 -1.332158  0.609907 -1.685302  0.832213
4  0.289127 -0.048933 -0.583954  0.653989
5 -0.730536 -0.738538  0.915074  0.450609
6 -0.132442  0.364581  0.728304 -0.148335
7 -0.465923 -0.489872  0.383389 -0.132652
8 -1.332158  0.609907 -1.685302  0.832213

## Grouping

By “group by” we are referring to a process involving one or more of the following steps

> * **Splitting** the data into groups based on some criteria
* **Applying** a function to each group independently
* **Combining** the results into a data structure

See the *[Grouping section](http://pandas.pydata.org/pandas-docs/stable/groupby.html#groupby)*

In [64]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one  1.126382  1.052989
1  bar    one -0.726986  0.418474
2  foo    two -0.307363  1.264918
3  bar  three  0.339404  0.081794
4  foo    two  0.290021 -0.633727
5  bar    two -0.870355 -0.051309
6  foo    one  0.480506 -1.808107
7  foo  three  0.603749  1.852242

Grouping and then applying a function sum to the resulting groups.

In [65]:
df.groupby('A').sum()

            C         D
A
bar -1.257937  0.448959
foo  2.193296  1.728315

Grouping by multiple columns forms a hierarchical index, which we then apply the function.

In [66]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.726986  0.418474
    three  0.339404  0.081794
    two   -0.870355 -0.051309
foo one    1.606888 -0.755118
    three  0.603749  1.852242
    two   -0.017342  0.631191

## Reshaping

See the sections on *[Hierarchical Indexing](http://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced-hierarchical)* and *[Reshaping](http://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping-stacking)*.

### Stack

In [67]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df2 = df[:4]
df2

                     A         B
first second
bar   one    -0.283211  0.066034
      two     0.659730 -0.133178
baz   one     0.585934  0.764429
      two    -1.437982  1.544745

The **[stack()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.stack.html#pandas.DataFrame.stack)** method “compresses” a level in the DataFrame’s columns.

In [68]:
stacked = df2.stack()
stacked

first  second
bar    one     A   -0.283211
               B    0.066034
       two     A    0.659730
               B   -0.133178
baz    one     A    0.585934
               B    0.764429
       two     A   -1.437982
               B    1.544745
dtype: float64

With a “stacked” DataFrame or Series (having a MultiIndex as the index), the inverse operation of **[stack()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.stack.html#pandas.DataFrame.stack)** is **[unstack()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.unstack.html#pandas.DataFrame.unstack)**, which by default unstacks the **last level:**

In [69]:
stacked.unstack()

                     A         B
first second
bar   one    -0.283211  0.066034
      two     0.659730 -0.133178
baz   one     0.585934  0.764429
      two    -1.437982  1.544745

In [70]:
stacked.unstack(1)

second        one       two
first
bar   A -0.283211  0.659730
      B  0.066034 -0.133178
baz   A  0.585934 -1.437982
      B  0.764429  1.544745

In [71]:
stacked.unstack(0)

first          bar       baz
second
one    A -0.283211  0.585934
       B  0.066034  0.764429
two    A  0.659730 -1.437982
       B -0.133178  1.544745

### Pivot Tables

See the section on *[Pivot Tables](http://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping-pivot)*.

In [72]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
df

        A  B    C         D         E
0     one  A  foo -0.838521  0.196732
1     one  B  foo -0.479499  0.300596
2     two  C  foo  0.639016  0.388219
3   three  A  bar -1.151870 -0.588326
4     one  B  bar -0.621815  1.545994
5     one  C  bar -1.846781 -1.015209
6     two  A  foo -0.069977  1.036077
7   three  B  foo  0.828483 -0.692630
8     one  C  foo -1.392774 -1.636999
9     one  A  bar  0.383294  0.429125
10    two  B  bar  1.268186  0.792338
11  three  C  bar -0.161283  0.312764

We can produce pivot tables from this data very easily:

In [73]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A  0.383294 -0.838521
      B -0.621815 -0.479499
      C -1.846781 -1.392774
three A -1.151870       NaN
      B       NaN  0.828483
      C -0.161283       NaN
two   A       NaN -0.069977
      B  1.268186       NaN
      C       NaN  0.639016

## Time Series

pandas has simple, powerful, and efficient functionality for performing resampling operations during frequency conversion (e.g., converting secondly data into 5-minutely data). This is extremely common in, but not limited to, financial applications. See the *[Time Series section](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#timeseries)*

In [74]:
rng = pd.date_range('11/09/2016', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample('5Min').sum()

2016-11-09    27169
Freq: 5T, dtype: int32

Time zone representation

In [75]:
rng = pd.date_range('13/09/2016 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

2016-09-13    0.059407
2016-09-14   -0.665813
2016-09-15    0.362487
2016-09-16    0.442264
2016-09-17    0.653662
Freq: D, dtype: float64

In [76]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2016-09-13 00:00:00+00:00    0.059407
2016-09-14 00:00:00+00:00   -0.665813
2016-09-15 00:00:00+00:00    0.362487
2016-09-16 00:00:00+00:00    0.442264
2016-09-17 00:00:00+00:00    0.653662
Freq: D, dtype: float64

Convert to another time zone

In [77]:
ts_utc.tz_convert('US/Eastern')

2016-09-12 20:00:00-04:00    0.059407
2016-09-13 20:00:00-04:00   -0.665813
2016-09-14 20:00:00-04:00    0.362487
2016-09-15 20:00:00-04:00    0.442264
2016-09-16 20:00:00-04:00    0.653662
Freq: D, dtype: float64

Converting between time span representations

In [78]:
rng = pd.date_range('11/09/2016', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2016-11-30    1.430214
2016-12-31   -0.542578
2017-01-31    0.384792
2017-02-28    0.694797
2017-03-31   -0.354196
Freq: M, dtype: float64

In [79]:
ps = ts.to_period()
ps

2016-11    1.430214
2016-12   -0.542578
2017-01    0.384792
2017-02    0.694797
2017-03   -0.354196
Freq: M, dtype: float64

In [80]:
ps.to_timestamp()

2016-11-01    1.430214
2016-12-01   -0.542578
2017-01-01    0.384792
2017-02-01    0.694797
2017-03-01   -0.354196
Freq: MS, dtype: float64

Converting between period and timestamp enables some convenient arithmetic functions to be used. In the following example, we convert a quarterly frequency with year ending in November to 9am of the end of the month following the quarter end:

In [81]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
ts.head()

1990-03-01 09:00   -0.234071
1990-06-01 09:00    0.670755
1990-09-01 09:00    1.122715
1990-12-01 09:00    0.780259
1991-03-01 09:00    0.780369
Freq: H, dtype: float64

## Categoricals

Since version 0.15, pandas can include categorical data in a DataFrame. For full docs, see the *[categorical introduction](http://pandas.pydata.org/pandas-docs/stable/categorical.html#categorical)* and the *[API documentation](http://pandas.pydata.org/pandas-docs/stable/api.html#api-categorical)*.

In [82]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})

Convert the raw grades to a categorical data type.

In [83]:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

Rename the categories to more meaningful names (assigning to Series.cat.categories is inplace!)

In [84]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

Reorder the categories and simultaneously add the missing categories (methods under Series .cat return a new Series per default).

In [85]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

Sorting is per order in the categories, not lexical order.

In [86]:
df.sort_values(by="grade")

   id raw_grade      grade
5   6         e   very bad
1   2         b       good
2   3         b       good
0   1         a  very good
3   4         a  very good
4   5         a  very good

Grouping by a categorical column shows also empty categories.

In [87]:
df.groupby("grade").size()

grade
very bad     1
bad          0
medium       0
good         2
very good    3
dtype: int64

## Plotting

*[Plotting](http://pandas.pydata.org/pandas-docs/stable/visualization.html#visualization)* docs.

In [88]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()
ts.plot()

On DataFrame, **[plot()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html#pandas.DataFrame.plot)** is a convenience to plot all of the columns with labels:

In [89]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                  columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')

## Getting Data In/Out

### CSV

*[Writing to a csv file](http://pandas.pydata.org/pandas-docs/stable/io.html#io-store-in-csv)*

In [90]:
df.to_csv('foo.csv')

*[Reading from a csv file](http://pandas.pydata.org/pandas-docs/stable/io.html#io-read-csv-table)*

In [91]:
pd.read_csv('foo.csv')

     Unnamed: 0          A          B          C          D
0    2000-01-01   0.588326   0.176119  -1.112032  -0.781756
1    2000-01-02   1.787147  -1.786292  -1.755992  -0.920506
2    2000-01-03   2.361067  -2.125040  -2.523173  -0.356203
3    2000-01-04   1.866736  -1.444381  -2.170141   0.392747
4    2000-01-05   4.287767  -2.606854  -3.665608   2.871916
5    2000-01-06   3.561976  -4.169602  -4.900702   3.408198
6    2000-01-07   3.348639  -3.828442  -5.342822   4.169734
7    2000-01-08   3.721827  -3.075071  -6.064197   5.305389
8    2000-01-09   3.366837  -2.793937  -5.553034   6.395656
9    2000-01-10   4.704948  -4.351980  -5.107926   6.465528
10   2000-01-11   4.624377  -2.510391  -4.570263   6.854977
11   2000-01-12   5.261082  -2.101336  -3.478748   7.398561
12   2000-01-13   4.668454  -1.944751  -2.409314   6.947614
13   2000-01-14   3.730626  -3.000031  -4.260730   7.261492
14   2000-01-15   5.484070  -2.499443  -4.242960   5.501969
15   2000-01-16   5.081056  -3.810314  -4.455607   5.802618
16   2000-01-17   5.438831  -3.290017  -4.709719   6.381166
17   2000-01-18   5.528038  -2.621626  -3.900362   5.893110
18   2000-01-19   4.878968  -2.989797  -4.529704   4.710176
19   2000-01-20   4.205925  -1.849449  -6.135930   5.345296
20   2000-01-21   3.951398  -2.451613  -6.589784   6.127156
21   2000-01-22   2.685296  -1.862347  -7.309833   6.205350
22   2000-01-23   3.333610  -0.801743  -8.900903   5.466769
23   2000-01-24   3.782130  -0.979587  -6.759256   6.227324
24   2000-01-25   3.945049  -1.294694  -7.054210   5.179351
25   2000-01-26   3.257225  -0.453106  -6.724254   5.760077
26   2000-01-27   3.308906   0.319931  -6.201709   6.854866
27   2000-01-28   3.288681   0.545141  -7.234857   5.738993
28   2000-01-29   2.679075   0.862002  -7.474431   6.100277
29   2000-01-30   1.687744   0.880051  -6.954254   7.477527
..          ...        ...        ...        ...        ...
970  2002-08-28  37.225208  42.147804  25.689992 -31.953129
971  2002-08-29  37.522208  41.245507  25.212575 -30.804316
972  2002-08-30  37.042231  39.734786  24.462866 -29.959679
973  2002-08-31  38.108163  40.190831  22.938734 -28.920895
974  2002-09-01  37.000412  39.967941  22.993469 -28.732170
975  2002-09-02  36.075304  38.983160  22.425495 -27.023249
976  2002-09-03  36.132862  39.867969  21.531151 -26.112269
977  2002-09-04  35.219153  39.391924  22.076749 -26.097241
978  2002-09-05  35.987888  37.783906  21.234833 -25.477246
979  2002-09-06  35.535670  37.927259  20.291275 -24.915840
980  2002-09-07  36.103580  36.182909  21.975396 -23.722400
981  2002-09-08  35.253216  37.900214  21.766125 -24.430505
982  2002-09-09  34.833425  37.723974  20.121246 -24.376134
983  2002-09-10  34.490955  35.771535  20.905088 -24.006456
984  2002-09-11  34.263904  34.651383  22.565808 -25.163998
985  2002-09-12  34.187067  34.458027  23.828934 -25.383218
986  2002-09-13  33.346163  34.915648  24.915727 -25.395224
987  2002-09-14  32.900190  33.218170  25.275083 -24.158874
988  2002-09-15  34.641006  31.924415  23.809489 -24.661637
989  2002-09-16  35.306622  32.033829  24.313817 -24.616696
990  2002-09-17  36.699249  32.539651  25.512002 -25.518301
991  2002-09-18  34.614387  29.864879  26.134281 -25.772950
992  2002-09-19  35.528234  31.002440  25.901149 -25.429756
993  2002-09-20  35.958512  29.863780  25.636630 -25.634784
994  2002-09-21  33.606211  28.734405  27.164106 -26.254035
995  2002-09-22  32.677785  28.507324  27.576422 -25.204780
996  2002-09-23  31.408383  30.598357  27.905473 -25.868983
997  2002-09-24  30.582694  29.001341  27.799825 -26.773486
998  2002-09-25  29.194993  29.387047  28.062325 -27.178912
999  2002-09-26  30.001737  29.354151  28.041239 -25.000378

[1000 rows x 5 columns]

### HDF5

Reading and writing to *[HDFStores](http://pandas.pydata.org/pandas-docs/stable/io.html#io-hdf5)*

Writing to a HDF5 Store

In [92]:
df.to_hdf('foo.h5','df')

Reading from a HDF5 Store

In [93]:
pd.read_hdf('foo.h5','df')

                    A          B          C          D
2000-01-01   0.588326   0.176119  -1.112032  -0.781756
2000-01-02   1.787147  -1.786292  -1.755992  -0.920506
2000-01-03   2.361067  -2.125040  -2.523173  -0.356203
2000-01-04   1.866736  -1.444381  -2.170141   0.392747
2000-01-05   4.287767  -2.606854  -3.665608   2.871916
2000-01-06   3.561976  -4.169602  -4.900702   3.408198
2000-01-07   3.348639  -3.828442  -5.342822   4.169734
2000-01-08   3.721827  -3.075071  -6.064197   5.305389
2000-01-09   3.366837  -2.793937  -5.553034   6.395656
2000-01-10   4.704948  -4.351980  -5.107926   6.465528
2000-01-11   4.624377  -2.510391  -4.570263   6.854977
2000-01-12   5.261082  -2.101336  -3.478748   7.398561
2000-01-13   4.668454  -1.944751  -2.409314   6.947614
2000-01-14   3.730626  -3.000031  -4.260730   7.261492
2000-01-15   5.484070  -2.499443  -4.242960   5.501969
2000-01-16   5.081056  -3.810314  -4.455607   5.802618
2000-01-17   5.438831  -3.290017  -4.709719   6.381166
2000-01-18   5.528038  -2.621626  -3.900362   5.893110
2000-01-19   4.878968  -2.989797  -4.529704   4.710176
2000-01-20   4.205925  -1.849449  -6.135930   5.345296
2000-01-21   3.951398  -2.451613  -6.589784   6.127156
2000-01-22   2.685296  -1.862347  -7.309833   6.205350
2000-01-23   3.333610  -0.801743  -8.900903   5.466769
2000-01-24   3.782130  -0.979587  -6.759256   6.227324
2000-01-25   3.945049  -1.294694  -7.054210   5.179351
2000-01-26   3.257225  -0.453106  -6.724254   5.760077
2000-01-27   3.308906   0.319931  -6.201709   6.854866
2000-01-28   3.288681   0.545141  -7.234857   5.738993
2000-01-29   2.679075   0.862002  -7.474431   6.100277
2000-01-30   1.687744   0.880051  -6.954254   7.477527
...               ...        ...        ...        ...
2002-08-28  37.225208  42.147804  25.689992 -31.953129
2002-08-29  37.522208  41.245507  25.212575 -30.804316
2002-08-30  37.042231  39.734786  24.462866 -29.959679
2002-08-31  38.108163  40.190831  22.938734 -28.920895
2002-09-01  37.000412  39.967941  22.993469 -28.732170
2002-09-02  36.075304  38.983160  22.425495 -27.023249
2002-09-03  36.132862  39.867969  21.531151 -26.112269
2002-09-04  35.219153  39.391924  22.076749 -26.097241
2002-09-05  35.987888  37.783906  21.234833 -25.477246
2002-09-06  35.535670  37.927259  20.291275 -24.915840
2002-09-07  36.103580  36.182909  21.975396 -23.722400
2002-09-08  35.253216  37.900214  21.766125 -24.430505
2002-09-09  34.833425  37.723974  20.121246 -24.376134
2002-09-10  34.490955  35.771535  20.905088 -24.006456
2002-09-11  34.263904  34.651383  22.565808 -25.163998
2002-09-12  34.187067  34.458027  23.828934 -25.383218
2002-09-13  33.346163  34.915648  24.915727 -25.395224
2002-09-14  32.900190  33.218170  25.275083 -24.158874
2002-09-15  34.641006  31.924415  23.809489 -24.661637
2002-09-16  35.306622  32.033829  24.313817 -24.616696
2002-09-17  36.699249  32.539651  25.512002 -25.518301
2002-09-18  34.614387  29.864879  26.134281 -25.772950
2002-09-19  35.528234  31.002440  25.901149 -25.429756
2002-09-20  35.958512  29.863780  25.636630 -25.634784
2002-09-21  33.606211  28.734405  27.164106 -26.254035
2002-09-22  32.677785  28.507324  27.576422 -25.204780
2002-09-23  31.408383  30.598357  27.905473 -25.868983
2002-09-24  30.582694  29.001341  27.799825 -26.773486
2002-09-25  29.194993  29.387047  28.062325 -27.178912
2002-09-26  30.001737  29.354151  28.041239 -25.000378

[1000 rows x 4 columns]

### Excel

Reading and writing to *[MS Excel](http://pandas.pydata.org/pandas-docs/stable/io.html#io-excel)*

Writing to an excel file

In [94]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

Reading from an excel file

In [95]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

                    A          B          C          D
2000-01-01   0.588326   0.176119  -1.112032  -0.781756
2000-01-02   1.787147  -1.786292  -1.755992  -0.920506
2000-01-03   2.361067  -2.125040  -2.523173  -0.356203
2000-01-04   1.866736  -1.444381  -2.170141   0.392747
2000-01-05   4.287767  -2.606854  -3.665608   2.871916
2000-01-06   3.561976  -4.169602  -4.900702   3.408198
2000-01-07   3.348639  -3.828442  -5.342822   4.169734
2000-01-08   3.721827  -3.075071  -6.064197   5.305389
2000-01-09   3.366837  -2.793937  -5.553034   6.395656
2000-01-10   4.704948  -4.351980  -5.107926   6.465528
2000-01-11   4.624377  -2.510391  -4.570263   6.854977
2000-01-12   5.261082  -2.101336  -3.478748   7.398561
2000-01-13   4.668454  -1.944751  -2.409314   6.947614
2000-01-14   3.730626  -3.000031  -4.260730   7.261492
2000-01-15   5.484070  -2.499443  -4.242960   5.501969
2000-01-16   5.081056  -3.810314  -4.455607   5.802618
2000-01-17   5.438831  -3.290017  -4.709719   6.381166
2000-01-18   5.528038  -2.621626  -3.900362   5.893110
2000-01-19   4.878968  -2.989797  -4.529704   4.710176
2000-01-20   4.205925  -1.849449  -6.135930   5.345296
2000-01-21   3.951398  -2.451613  -6.589784   6.127156
2000-01-22   2.685296  -1.862347  -7.309833   6.205350
2000-01-23   3.333610  -0.801743  -8.900903   5.466769
2000-01-24   3.782130  -0.979587  -6.759256   6.227324
2000-01-25   3.945049  -1.294694  -7.054210   5.179351
2000-01-26   3.257225  -0.453106  -6.724254   5.760077
2000-01-27   3.308906   0.319931  -6.201709   6.854866
2000-01-28   3.288681   0.545141  -7.234857   5.738993
2000-01-29   2.679075   0.862002  -7.474431   6.100277
2000-01-30   1.687744   0.880051  -6.954254   7.477527
...               ...        ...        ...        ...
2002-08-28  37.225208  42.147804  25.689992 -31.953129
2002-08-29  37.522208  41.245507  25.212575 -30.804316
2002-08-30  37.042231  39.734786  24.462866 -29.959679
2002-08-31  38.108163  40.190831  22.938734 -28.920895
2002-09-01  37.000412  39.967941  22.993469 -28.732170
2002-09-02  36.075304  38.983160  22.425495 -27.023249
2002-09-03  36.132862  39.867969  21.531151 -26.112269
2002-09-04  35.219153  39.391924  22.076749 -26.097241
2002-09-05  35.987888  37.783906  21.234833 -25.477246
2002-09-06  35.535670  37.927259  20.291275 -24.915840
2002-09-07  36.103580  36.182909  21.975396 -23.722400
2002-09-08  35.253216  37.900214  21.766125 -24.430505
2002-09-09  34.833425  37.723974  20.121246 -24.376134
2002-09-10  34.490955  35.771535  20.905088 -24.006456
2002-09-11  34.263904  34.651383  22.565808 -25.163998
2002-09-12  34.187067  34.458027  23.828934 -25.383218
2002-09-13  33.346163  34.915648  24.915727 -25.395224
2002-09-14  32.900190  33.218170  25.275083 -24.158874
2002-09-15  34.641006  31.924415  23.809489 -24.661637
2002-09-16  35.306622  32.033829  24.313817 -24.616696
2002-09-17  36.699249  32.539651  25.512002 -25.518301
2002-09-18  34.614387  29.864879  26.134281 -25.772950
2002-09-19  35.528234  31.002440  25.901149 -25.429756
2002-09-20  35.958512  29.863780  25.636630 -25.634784
2002-09-21  33.606211  28.734405  27.164106 -26.254035
2002-09-22  32.677785  28.507324  27.576422 -25.204780
2002-09-23  31.408383  30.598357  27.905473 -25.868983
2002-09-24  30.582694  29.001341  27.799825 -26.773486
2002-09-25  29.194993  29.387047  28.062325 -27.178912
2002-09-26  30.001737  29.354151  28.041239 -25.000378

[1000 rows x 4 columns]

## Gotchas

If you are trying an operation and you see an exception like:

> 
if pd.Series([False, True, False]):  
    print("I was true")  
Traceback  
    ...  
ValueError: The truth value of an array is ambiguous. Use a.empty, a.any() or a.all().

See *[Comparisons](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-compare)* for an explanation and what to do.

See *[Gotchas](http://pandas.pydata.org/pandas-docs/stable/gotchas.html#gotchas)* as well.