In [9]:
import numpy as np

In [10]:
TT = np.random.randn(10, 10)

TT = np.ma.masked_where(TT < 1, TT)

In [11]:
TT

masked_array(data =
 [[1.1919424484569188 -- -- -- 2.4733172432206043 1.6142687178540798 -- --
  -- --]
 [-- -- -- -- -- -- -- 1.3167639887438327 -- 1.3220757144649196]
 [1.2614794248384322 -- -- -- -- -- -- -- -- --]
 [1.2487886188746704 -- -- 1.017206506667674 -- -- -- -- -- --]
 [1.0654915246942127 2.373957947114287 -- -- -- -- 1.0313638806311536 -- --
  --]
 [-- -- -- 1.0931596375862562 -- 1.6026793559004917 -- -- -- --]
 [1.0103393724696157 -- -- -- -- 2.106386202721354 -- -- -- --]
 [-- -- 1.0321584563167212 -- -- -- -- -- 1.656583795421723 --]
 [-- -- -- -- -- -- -- -- -- --]
 [-- -- 1.67222059777024 1.0544189955344017 1.5973770001218905 -- -- --
  1.213494441507784 --]],
             mask =
 [[False  True  True  True False False  True  True  True  True]
 [ True  True  True  True  True  True  True False  True False]
 [False  True  True  True  True  True  True  True  True  True]
 [False  True  True False  True  True  True  True  True  True]
 [False False  True  True  True  True False  True  True  True]
 [ True  True  True False  True False  True  True  True  True]
 [False  True  True  True  True False  True  True  True  True]
 [ True  True False  True  True  True  True  True False  True]
 [ True  True  True  True  True  True  True  True  True  True]
 [ True  True False False False  True  True  True False  True]],
       fill_value = 1e+20)

In [12]:
res = np.exp((17.67 * TT)/(TT + 243.5))

In [13]:
res

masked_array(data =
 [[1.089887016197841 -- -- -- 1.1944380690827312 1.123412286101633 -- -- --
  --]
 [-- -- -- -- -- -- -- 1.099702098636615 -- 1.1001215071915809]
 [1.095345289696821 -- -- -- -- -- -- -- -- --]
 [1.0943473271863375 -- -- 1.076277446857038 -- -- -- -- -- --]
 [1.0800230534520094 1.1860246394057987 -- -- -- -- 1.0773744798879668 --
  -- --]
 [-- -- -- 1.0821745507849636 -- 1.1224802401187537 -- -- -- --]
 [1.0757456799273928 -- -- -- -- 1.1636279369682474 -- -- -- --]
 [-- -- 1.0774360796925162 -- -- -- -- -- 1.1268211978409437 --]
 [-- -- -- -- -- -- -- -- -- --]
 [-- -- 1.128083219291075 1.079163106375152 1.1220540396733902 -- -- --
  1.0915761465559362 --]],
             mask =
 [[False  True  True  True False False  True  True  True  True]
 [ True  True  True  True  True  True  True False  True False]
 [False  True  True  True  True  True  True  True  True  True]
 [False  True  True False  True  True  True  True  True  True]
 [False False  True  True  True  True False  True  True  True]
 [ True  True  True False  True False  True  True  True  True]
 [False  True  True  True  True False  True  True  True  True]
 [ True  True False  True  True  True  True  True False  True]
 [ True  True  True  True  True  True  True  True  True  True]
 [ True  True False False False  True  True  True False  True]],
       fill_value = 1e+20)

In [14]:
res.shape

(10, 10)